share/chords_clipboard.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="common.xsd"/>
    <xs:simpleType name="chord_column">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="8" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="chords_clipboard_type">
        <xs:all>
            <xs:element name="left_column" type="chord_column" />
            <xs:element name="right_column" type="chord_column" />
            <xs:element name="rows" type="chords_type" />
        </xs:all>
    </xs:complexType>
    <xs:element name="clipboard" type="chords_clipboard_type" />
</xs:schema>